.c1{
    text-align: center;
}

.c2{   
    background-color: #EEEEEE;
    height: 100px;
    text-align: center;
}
.c3{
    background-color: #7EE5DA;
    height: 85px;
    width: 33.2%;
    margin-right: 2px;
    float: left;
    text-align: center;
    padding-top: 15px;
}

.c4{
    background-color: #7EE5DA;
    height: 85px;
    width: 33.2%;
    margin-right: 2px;
    float: left;
    text-align: center;
    padding-top: 15px;
    font-size: small;
}